@model ColorManagerv2.Models.Color

@{
    ViewData["Title"] = "Delete";
}

    <div class="deleteContent">
    <h1>Delete</h1>
    <h3>¿Quieres eliminar esta paleta?</h3>
    <section>
        <div class = "deleteColor">
            @Html.DisplayNameFor(model => model.Color1)
            <div style="background: @Model.Color1;" class="color"></div>
        </div>
        <div class="deleteColor">
            @Html.DisplayNameFor(model => model.Color2)
            <div style="background: @Model.Color2;" class="color"></div>
        </div>
        <div class="deleteColor">
            @Html.DisplayNameFor(model => model.Color3)
            <div style="background: @Model.Color3;" class="color"></div>
        </div>
    </section>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="deleteButton" />
        <a asp-action="Index" class="returnButton">Regresar</a>
    </form>
    </div>
    
