@model ColorManagerv2.Models.Color

@{
    ViewData["Title"] = "Details";
}


<div class="detailsContainer">
    <h1>Details</h1>
    <div class="detailsContent">
        <div class="detailsColor">
            <h1>@Html.DisplayNameFor(model => model.Color1)</h1>
            <article style="background: @Model.Color1;">
                <h1>@Model.Color1</h1>
            </article>
        </div>
        <div class="detailsColor">
            <h1>@Html.DisplayNameFor(model => model.Color2)</h1>
            <article style="background: @Model.Color2;">
                <h1>@Model.Color2</h1>
            </article>
        </div>
        <div class="detailsColor">
            <h1>@Html.DisplayNameFor(model => model.Color3)</h1>
            <article style="background: @Model.Color3;">
                <h1>@Model.Color3</h1>
            </article>
        </div>
    </div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="returnButton">Edit</a> |
    <a asp-action="Index" class="returnButton">Regresar</a>
</div>

@*@Html.DisplayNameFor(model => model.Color1)
@Html.DisplayFor(model => model.Color1)*@